
body {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 10%;

    background-color: #ddd;

    font-family: Helvetica;
    font-size: 20px;
    color: #444;

}


header {
    text-align: center;
    margin: 40px 0 10px 0;
    padding: 0px;
}

header h1 {
    margin: 0px;
    padding: 5rem 0px;
    background-color: #555555;
    border-radius: 15px;
    color: #eeeeee;
}

nav {
    display: block;
    background-color: #555555;
    border-radius: 15px;

    margin: 10px 0px;
}
nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    display:inline-block;
    font-size: 1.5rem;
}
nav li a {
    display: block;
    padding: 20px;
}


nav li a {
    color: #dadada;
    text-decoration: none;
}

main {
    padding: 30px 20px;
    padding-top: 1px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 15px;
}


table {
    box-sizing: border-box;
}

table img {
    max-width: 100%;
    margin: 15px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px gray;
}



footer {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    
    color: #dadada;
    background-color: #555555;
    border-radius: 10px;
}