

body {
    font-family: Helvetica;
    font-size: 20px;
    color: #444;
    margin: 0;
}


header {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #555555;
}
nav li {
    display:inline-block;
    font-size: 1.5rem;
    padding: 20px;
}

nav li a {
    color: #dadada;
    text-decoration: none;
}


body {
    
    background-color: #ddd;
}

main {
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    border: 0.1px solid;
}

footer {
    margin: 30px;
    text-align: center;
}

