

body {
    align-items: center;
    font-size: larger;
}
main {
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



li {
    background-color: #bdd9f0;;
    padding: 10px;
    margin: 5px;
}